<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jasper Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        html {
            height: 100%;
        }
        body {
            height: 95%;
        }
    </style>
</head>
<body>

<h5 class="text-center">Jasper Report View</h5>
<iframe src="/reports/showReport?rptFileName=SpringJasper" width="100%" height="100%"></iframe>

</body>
</html>